<div class="ui divided list">
  <div class="item">
    <div class="right floated compact ui button">Add</div>
    <img class="ui avatar image" src="/images/avatar/small/justen.jpg">
    <div class="content">
      <div class="header">Justen Kitsune</div>
    </div>
  </div>
  <div class="item">
    <div class="right floated compact ui button">Add</div>
    <img class="ui avatar image" src="/images/avatar/small/joe.jpg">
    <div class="content">
      <div class="header">Joe Henderson</div>
    </div>
  </div>
</div>